{% extends 'index.html' %}

{% block content %}
<h2>Datos para eliminar</h2>

<form action="/borrar/" method="GET">
  <div class="form-row">
    <div class="form-group col-auto">
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Tipo</label>
        <select name="tipo" class="form-select" id="inputGroupSelect01">
          <option selected>Elegir...</option>
          <option value="carpeta">Carpeta</option>
          <option value="archivo">Archivo</option>
        </select>
      </div>
      <label for="exampleInputEmail1">Nombre archivo/carpeta: </label>
      <input type="text" class="form-control" name="borrar" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">Borrar</button>
  </div>
</form>

<br>
<div class="alert alert-success" style="{{ propiedad }}" role="alert">{{ aviso }}</div>
{% endblock %}