{% extends 'index.html' %}



{% block content %}

<br>

<h1 style="font-size: 30px">Datos para cambiar propietario</h1>



<form action="/cambiarPropietario/" method="POST">{% csrf_token %}

  <div class="form-row">

    <div class="form-group col-auto">

      <div class="input-group mb-3">

        <!--

        <label class="input-group-text" for="inputGroupSelect01">Tipo</label>

        <select class="form-select" id="inputGroupSelect01">

          <option selected>Elegir...</option>

          <option value="carpeta">Carpeta</option>

          <option value="archivo">Archivo</option>

        </select>

        -->

      </div>

      <label for="exampleInputEmail1">Nombre archivo: <input type="text"  class="form-control" name="archivo" id="exampleInputEmail1" aria-describedby="emailHelp"></label>

      <label for="exampleInputEmail1">Nuevo propietario: <input type="text"  class="form-control" name="propietario" id="exampleInputEmail1" aria-describedby="emailHelp"></label>

    </div>

    <button type="submit" class="btn btn-primary">Cambiar</button>

  </div>

</form>



<br>

<h3>{{ aviso }}</h3>

{% endblock %}
