{% extends 'index.html' %}

{% block content %}
<ul class="nav nav-pills">
  <li class="active" style="background-color:white ;"><a data-toggle="pill" href="#forms">Datos</a></li>
  <li><a data-toggle="pill" href="#instr">Instrucciones</a></li>
</ul>

<div class="tab-content">
  <div id="forms" class="tab-pane fade in active">
      <h2>Datos para copiar</h2>
      <form action="/copiar/" method="GET">
          <div class="form-row">
              <div class="input-group mb-3">
                  <label class="input-group-text" for="inputGroupSelect01">Tipo</label>
                  <select name="tipo" class="form-select" id="inputGroupSelect01">
                      <option selected>Elegir...</option>
                      <option value="carpeta">Carpeta</option>
                      <option value="archivo">Archivo</option>
                  </select>
              </div>
              <label for="label1">Ubicacion archivo/carpeta: <input type="text" class="form-control" name="ubA"
                      id="label1" aria-describedby="emailHelp"></label>
              <label for="label2">Ubicación a copiar: <input type="text" class="form-control" name="ubB"
                      id="label2" aria-describedby="emailHelp"></label>
          </div>
          <button type="submit" class="btn btn-primary">Copiar</button>
      </form>

      <br>
      <div class="alert alert-success" style="{{ propiedad }}" role="alert">{{ aviso }}</div>
  </div>
  <div id="instr" class="tab-pane fade">
      <p>Si se desea copiar un archivo o carpeta de la ruta actual, basta con solo ingresar el nombre,
          en caso contrario ingresar la ruta absoluta del archivo</p>
      Por ejemplo:
      <ul>
          <li><strong>Al ingresar la ruta absoulta de una carpeta:</strong> /home/dir1/carpeta</li>
          <li><strong>Al ingresar la ruta absoulta de un archivo:</strong> /home/dir1/archivo.txt</li>
      </ul>

      En la ruta a copiar es necesario ingresar la ruta absoluta ( /home/dir1/arc1 )
  </div>
</div>
{% endblock %}