{% extends 'index.html' %}

{% block content %}
<br>
<h1 style="font-size: 30px">Datos para mover</h1>

<form action="/mover/" method="GET">
    <div class="form-row">
        <div class="form-group col-auto">
            <label for="exampleInputEmail1">Nombre archivo/carpeta: <input type="text"  class="form-control" name="nombre" id="exampleInputEmail1" aria-describedby="emailHelp"></label>
            <label for="exampleInputEmail1">Ubicación a mover: <input type="text"  class="form-control" name="ubicacion" id="exampleInputEmail1" aria-describedby="emailHelp"></label>
            
        </div>
        <button type="submit" class="btn btn-primary">Mover</button>
    </div>
</form>

<br>
<h3>{{ mensaje }}</h3>
{% endblock %}