{% extends 'index.html' %}

{% block content %}
<h2>Datos para renombrar</h2>

<form action="/renombrar/" method="POST">{% csrf_token %}
  <div class="form-row">
    <div class="form-group col-auto">
      <label for="Label1">Nombre Actual: <input type="text" class="form-control" name="nombreV" id="Label1"
          aria-describedby="emailHelp"></label>
      <label for="Label2">Nombre Nuevo: <input type="text" class="form-control" name="nombreN" id="Label2"
          aria-describedby="emailHelp"></label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Renombrar</button>
</form>

<br>
<div class="alert alert-success" style="{{ propiedad }}" role="alert">{{ aviso }}</div>

{% endblock %}