{% extends 'index.html' %}



{% block content %}
<h2>Datos para ver permisos</h2>

<form action="/verPermisos/" method="GET">
  <div class="form-row">
    <div class="form-group col-auto">
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Tipo</label>
        <select name="tipo" class="form-select" id="inputGroupSelect01">
          <option selected>Elegir...</option>
          <option value="carpeta">Carpeta</option>
          <option value="archivo">Archivo</option>
        </select>
      </div>
      <label for="Label1">Nombre: <input type="text" class="form-control" name="nombre" id="Label1"
          aria-describedby="emailHelp"></label>
    </div>
    <button type="submit" class="btn btn-primary">Ver</button>
  </div>
</form>

<br>
<div class="alert alert-primary" style="{{ propiedad }}" role="alert">{{ aviso }}</div>
{% endblock %}